@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <strong>Node Version:</strong> @Model.NodeVersion
</div>
<div class="row">
    <strong>NPM Version:</strong> @Model.NpmVersion
</div>